.container-flex {
   display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  
text-align: center;
height: auto;
}
img {
      width: 80%;
    height: 90%;
    transition: .5s ease;
}

.pic {
    
    height:190px;
    filter: alpha(opacity=100);
}
 .pic:hover
{
opacity: 1;
filter: alpha(opacity=30);
}
.center-title {
    text-align: center;
}

.flex-contain {
    width: 69%;
    max-width: 120 rem;
    margin: 0 auto;
}



.title-product {
 color: white;
    border: solid;
    margin: auto;
    width: 19%;
    border-radius: 100px;
    margin-top: 37px;
    animation: 3s;
    cursor: pointer;
}
