
    .list-Detail {
      display: flex;
    justify-content: space-around;
    /* margin: auto; */
    width: 90%;
    height: 4px;
    align-items: center;
    }

    .Coorde-Detail {
    border: 5px solid #ffffff;
    background: #1c60c5;
    border-radius: 14px;
    font-size: 22px;
    color: white;
    font-weight: 600;
    }

 .red {
       display: flex;
    justify-content: space-between;
    width: 82%;
 }