.input-register {
    padding: 1px 10px 1px 6px;
    border: 1;
    border: 2px solid black;
    /* border: 19px; */
    width: 9%;
    margin-top: 10px;
}

.container-register{
    margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
} 

.form {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
}


.login-btne {
  align-self: center;
  padding: 13px 88px;
  margin-top: 30px;
  border: none;
  color: rgb(0, 0, 0);
  color: black;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
    border: 1px solid black ;
    font-weight: bold;
    font-size: 19px;
  
}


.inpute {
    padding: 7px 2px 14px 1px;
    border: 1;
    border: 2px solid black;
    /* border: 19px; */
    display: block;
    width: 79%;
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    margin: auto;
    margin-top: 10px;
}

.title-h1 {
    text-align: center;
}

.form label {
     font-size: 15px;
    font-family: -webkit-pictograph;
    font-weight: bolder;
    text-align: left;

}

.auntenti {
    margin: auto;
    color: #0056a0;
    margin-top: 12px;
}
   
